<h3>Network Form</h3>
<form action="/network/form" method="post">
  <label for="hostname">Hostname</label>
  <input type="text" id="hostname" name="hostname"><br>

  <label for="ip">IP Address</label>
  <input type="text" id="ip" name="ip"><br>

  <label for="interface">Set Interface, eth0</label>
  <input type="text" id="interface" name="interface"><br>

  <label for="gateway">Gateway IP</label>
  <input type="text" id="gateway" name="gateway"><br>

  <input type="submit">
</form>

<div class="aligncenter" style="width:200px;"><hr /></div>

<h3>DHCP Services</h3>
<button type="button" onclick="systemctl stop dhcpcd@eth0.service && systemctl disable dhcpcd@eth0.service">Stop and Disable DHCP Service</button><br><br>

<button type="button" onclick="dhcpcd eth0 && systemctl restart dhcpcd@eth0.service">Renew DHCP Lease</button><br><br>

<button type="button" onclick="systemctl enable dhcpcd@eth0.service">Start DHCP Service at Boot</button>
