<h3>Network Form</h3>
<form action="/network/form" method="post">
  <label for="hostname">Hostname</label>
  <input type="text" id="hostname" name="hostname"><br>
  <label for="ip">IP Address</label>
  <input type="text" id="ip" name="ip"><br>
  <input type="submit">
</form>
