body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-network {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}
.form-network .form-network-heading {
  margin-bottom: 10px;
}
.form-network .form-network-heading {
  text-align: center;
}
.form-network .form-item-heading {
  margin-bottom: 10px;
}
.form-network .form-item-heading {
  text-align: left;
}
.form-network .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-network .form-control:focus {
  z-index: 5;
}
.form-network input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-network input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ping {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
}
.dhcp {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}
.logout {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}
.nav {
  max-width: 200px;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}
.navbar {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: left;
}
.nav-item {
  padding: 3px 15px;
}
.float {
  max-width: 700px;
  margin: 0 auto;
  float: right !important;
}
